<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>log in</h2>
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="" placeholder="Enter Your name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" name="password" id="" placeholder="Enter Your password">
        </div>
        <div>
            <input type="submit" name="submit" id="">
        </div>
    </form>
</body>
</html>